apiVersion: v1
baseDomain: {{ basedomain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ clustername }}
networking:
  clusterNetwork:
  - cidr: {{ clusternetwork }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machinenetwork }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ servicenetwork }}
platform:
  none: {}
bootstrapInPlace:
{% if bootdiskwwn is defined %}
  installationDisk: /dev/disk/by-id/wwn-0x{{ bootdiskwwn }}
{% else %}
  installationDisk: /dev/sda
{% endif %}
pullSecret: '{{ pullsecret }}'
sshKey: |
  {{ pubkey }}
